@font-face {
    font-family: 'bellotalight';
    src: url('fonts/bellota-light-webfont.eot');
    src: url('fonts/bellota-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bellota-light-webfont.woff2') format('woff2'),
         url('fonts/bellota-light-webfont.woff') format('woff'),
         url('fonts/bellota-light-webfont.ttf') format('truetype'),
         url('fonts/bellota-light-webfont.svg#bellotalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------------------------------- ACCUEIL ---------------------------------------------------------------------------- */
body
{
  overflow: visible;
}
.accueil { width: 100%; height: auto; }
.container1 { width: 90%; }
.container1 { margin-left: auto; margin-right: auto; padding-left: 0; padding-right: 0; }
.left { position: fixed; display: inline-block; float: left; width: 30%; height: 660px; margin-top: 141px; left: 30px; border-right: 1px #cccccc solid; }
.right { display: inline-block; float: right; width: 70%; height: 1600px; margin-top: 141px;}

.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.twitter-widget { color: #4c4c4c; height: 249px;  width: 97.4%; 
    box-shadow: 1px 1px 16px rgba(0, 0, 0, .58); border-radius: 2px; }
.header { background: url(http://cameronbaney.com/codepen/twitter-widget/bg-header.jpg) no-repeat; background-size: cover; color: #fdfdfd; 
    font: 12px/17px 'HelveticaNeue-UltraLight', Helvetica, Arial, sans-serif; padding: 18px 28px 20px; border-radius: 2px 2px 0 0; }
.avatar { border: 4px solid #29c6f5; border-top-width: 3px; float: left; margin-right: 16px; position: relative; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, .6), 0 -1px 0 #9ce5fa; border-radius: 2px; max-width: 78px; max-height: 78px; }
.avatar::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; box-shadow: 0 1px 3px rgba(0, 0, 0, .4) inset; 
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4) inset; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4) inset; }
.avatar img { display: block; box-shadow: 0 0 2px rgba(0, 0, 0, .5) inset }
.header h2,
.header p { float: left; width: 288px; }
.header h2 { font-size: 26px; line-height: 32px; margin: 10px 0 8px }
.stats { background: rgb(243, 243, 243); background: -moz-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 243, 243, 1)), color-stop(100%, rgba(236, 236, 237, 1))); 
    background: -webkit-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%);
    border-top: 1px solid #fff; border-bottom: 1px solid #d4d4d4; }
.stat { color: #4c4c4c; float: left; font-size: 14px; line-height: 17px; padding: 15px 0 14px; text-align: center; text-decoration: none; 
    text-shadow: 0 1px 0 #fff; width: 148px; }
.stat:first-child { margin-left: 1px }
.stat:hover { color: #747474 }
.stat strong { display: block; font-size: 25px; line-height: 25px }
.menu { background: rgb(236, 236, 236);
    background: -moz-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(236, 236, 236, 1)), color-stop(86%, rgba(233, 233, 233, 1)), color-stop(94%, rgba(232, 232, 232, 1)), color-stop(100%, rgba(228, 228, 228, 1)));
    background: -webkit-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    background: -o-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    background: -ms-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    border-top: 1px solid #fff; border-radius: 0 0 2px 2px; padding: 11px 0; text-align: center }
.menu li { display: inline-block; margin: 0 34px }
.menu a { background: url(http://cameronbaney.com/codepen/twitter-widget/icons.png) no-repeat; display: block; overflow: hidden; text-indent: -9999px }
.menu .ico-compose { background-position: -1px -2px; width: 25px; height: 26px; }
.menu .ico-mentions { background-position: -31px -1px; width: 27px; height: 28px; }
.menu .ico-profile { background-position: -65px -1px; width: 24px; height: 27px; }
.menu .ico-settings { background-position: -97px -2px; width: 26px; height: 27px; }
.menu a:hover { opacity: .75 }
.tweet { display: inline-block; width: 75%; height: auto; margin-left: 6%;}
.avatar-tweet { float: left; max-width: 90px; max-height: 90px; margin-top: 10px; margin-left: 9px; }
.contenu {  width: 85%; height: 450px; float: right; }
.contenu h4 { display: inline-block; width: 25%; margin-left: 2%; float: left; }
.contenu p { display: inline-block; float: right; margin-top: 10px; margin-right: 3%; }
.contenu h5 { display: inline-block; width: 98%; margin-left: 2%; margin-top: 0px; margin-bottom: 0px; }
.content { display: inline-block; width: 96%; margin-left: 2%; }
.compte-admin { display: inline-block; background-color: #88C9F9; padding: 0px 3px 0px 3px; color: white; border-radius: 100%; margin-top: 10px; }
.contenu-img { display: inline-block; max-width: 590px; max-height: 590px; margin-left: 2%; margin-right: 2%; margin-top: 20px; padding: 4px; 
    border: 1px #cccccc solid; }
.icon-boot { display: inline-block; width: 100%; }
.heart { cursor: pointer; display: inline-block; color: #a6a6a6; font-size: 22px; margin-top: 20px; margin-left: 25%; margin-right: 8%; }
.retweet { cursor: pointer; display: inline-block; color: #a6a6a6; font-size: 22px; margin-top: 20px; margin-left: 5%; margin-right: 8%; }
.share-alt { cursor: pointer; display: inline-block; color: #a6a6a6; font-size: 22px; margin-top: 20px; margin-left: 5%; margin-right: 8%; }
.heart:hover { color: #E81C4F; }
.retweet:hover { color: #19CF86; }
.share-alt:hover { color: #1DA1F2; }
.actualite { display: inline-block; margin-top: 50px; width: 100%;}
.twitter-widget1 { color: #4c4c4c; height: 360px;  width: 97.4%; 
    box-shadow: 1px 1px 16px rgba(0, 0, 0, .58); border-radius: 2px; }
.actu { display: inline-block; width: 100%; padding-left: 5%; }
.barre { display: inline-block; width: 60%; margin-left: 20%; margin-top: 40px; }
.barre2 { display: inline-block; border-top: none; border-left: none; border-right: none; border-bottom: 1px #7bd7ea solid;
 padding: 8px; color: white; font-size: 18px; }
 .barre2:hover { border-bottom: 2px #115f6e solid; }
.form-group3 { display: inline-block; width: 100%; }
#Ajax-valSearch { display: inline-block; width: 100%; background-color: transparent; }
.gly-search { display: inline-block; height: 30px; position: relative; top: -46px; left: 95%; font-size: 18px; 
  text-align: right; color: rgba(255, 255, 255, 0.5); }

/* ----------------------------------------------------------- TIMELINE ---------------------------------------------------------------------- */

.nav-tweet { z-index: 1;position: fixed; width: 100%; height: 110px; background-color: #20AAC5; margin-bottom: 40px; }
.navbar-header { width: 20%; position: relative; right: 13%; }
.twitter { padding: 3px 15px; background-color: white; float: left; border-radius: 20px; margin-top: 50px; 
  width: 100%; height: 38px; box-shadow: 6px -4px 0 0 #f7e7eb inset; }
.academie { position: relative; bottom: 60px; left: 14px; font-family: 'bellotalight'; font-size: 15px; font-weight: bold; }
.nuage2 { position: relative; left: 10%; top: 15px; background-color: white; border-radius: 100%; width: 45%; height: 60px; 
  box-shadow: 6px 4px 0 0 #f7e7eb inset; }
.nuage3 { position: relative; left: 51%; bottom: 35px; background-color: white; border-radius: 100%; 
  width: 37%; height: 52px; box-shadow: 4px 4px 0 0 #f7e7eb inset; }
@keyframes leftright { 0% { margin-left: 0%; } 50% { margin-left: 40%; } 100% { margin-left: 0%; } }
.deplace { z-index: 1; display: inline-block; width: 60%; height: 70px; animation: leftright 10s infinite; }
#logOut { position: relative; left: 90%; bottom: 60px; font-family: 'bellotalight'; background-color: #20AAC5; border: 1px #20AAC5 solid; }
#logOut:hover { background-color: #19849a; border: 1px #19849a solid; }

/* ------------------------------------------------------------- TWEETS ---------------------------------------------------------------------- */

.Ajax-postTweet { display:block; width: 100%; height: 80px; margin-bottom: 25px; margin-top: 15px; border: none; }
.Ajax-postTweet textarea { width: 100% !important; height: 48px !important; border-bottom: 1px solid #b2b2b2 !important;
  border: medium none; }
.area { display: block; width: 90%; height: 15px;  }
.photo { display: inline-block; float: right; width: 10%; margin-top: 5px; margin-right: 4%; font-size: 16px; }
.camera { padding-left: 12%; font-family: 'bellotalight'; font-size: 17px; }
#contentTweet {
    width: 100%;
    height: 100px;
    margin: 40px 0 0 0;
    display: none;
}
#Ajax-post{
    display: none;
}

/* ----------------------------------------------------- MESSAGERIE INSTANTANEE -------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.round.hollow { margin: 40px 0 0; }
.round.hollow a { border: 2px solid #ff6701; border-radius: 35px; color: red; color: #ff6701; font-size: 23px; padding: 10px 21px; 
  text-decoration: none; font-family: 'Open Sans', sans-serif; }
.round.hollow a:hover { border: 2px solid #000; border-radius: 35px; color: red; color: #000; font-size: 23px; padding: 10px 21px;
  text-decoration: none; }
.popup-box-on { display: block !important; }
.popup-box .popup-head { background-color: #20aac5; clear: both; color: #7b7b7b; display: inline-table; font-size: 16px; padding: 7px 10px;
  width: 100%; font-family: Oswald; }
.bg_none i { border: 1px solid #ff6701; border-radius: 25px; color: #ff6701; font-size: 17px; height: 33px; line-height: 30px;
  width: 33px; }
.bg_none:hover i { border: 1px solid #000; border-radius: 25px; color: #000; font-size: 17px; height: 33px; line-height: 30px; width: 33px; }
.bg_none { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; margin-top: 17px; }
.popup-box .popup-head .popup-head-right { margin: 11px 7px 0; }
.popup-head-left img { border: 1px solid #7b7b7b; border-radius: 50%; width: 44px; }
.popup-messages-footer > textarea { border-bottom: 1px solid #b2b2b2 !important; height: 54px !important; margin: 7px; padding: 5px !important;
  border: medium none; width: 83% !important; }
.popup-messages-footer { background: #fff none repeat scroll 0 0; bottom: 0; width: 100%; }
.popup-messages-footer .btn-footer { overflow: hidden; padding: 2px 5px 10px 6px; width: 100%; }
.simple_round { background: #d1d1d1 none repeat scroll 0 0; border-radius: 50%; color: #4b4b4b !important; height: 21px; padding: 0 0 0 1px;
  width: 21px; }
.popup-box .popup-messages { background: white none repeat scroll 0 0; height: 300px; overflow: auto; }
.direct-chat-messages { overflow: auto; padding: 10px; transform: translate(0px, 0px); }
.popup-messages .chat-box-single-line { border-bottom: 1px solid #a4c6b5; height: 12px; margin: 7px 0 20px; position: relative; text-align: center; }
.popup-messages abbr.timestamp { background: #0b3942 none repeat scroll 0 0; color: #fff; padding: 0 11px; }
.popup-head-right .btn-group { display: inline-flex; margin: 0 8px 0 0; vertical-align: top !important; }
.chat-header-button { border: 1px solid #636364; border-radius: 50%; font-size: 14px; height: 30px;
  width: 30px; }
.popup-head-right .btn-group .dropdown-menu { border: medium none; min-width: 122px; padding: 0; }
.popup-head-right .btn-group .dropdown-menu li a { font-size: 12px; padding: 3px 10px; color: #303030; }
.popup-messages .chat-box-single-line { border-bottom: 1px solid #a4c6b5; height: 12px; margin: 7px 0 20px; position: relative; text-align: center; }
.popup-messages .direct-chat-messages { height: auto; }
.popup-messages .direct-chat-text { background: #dfece7 none repeat scroll 0 0; border: 1px solid #dfece7; border-radius: 2px; color: #1f2121; }
.popup-messages .direct-chat-timestamp { color: black; opacity: 0.6; }
.popup-messages .direct-chat-name { font-size: 15px; font-weight: 600; margin: 0 0 0 49px !important; color: #fff; opacity: 0.9; }
.popup-messages .direct-chat-info { display: block; font-size: 12px; margin-bottom: 0; }
.popup-messages  .big-round { margin: -9px 0 0 !important; }
.popup-messages  .direct-chat-img { border: 1px solid #fff; background: #6DD3E7  none repeat scroll 0 0; border-radius: 50%; float: left;height: 40px;
  margin: -21px 0 0; width: 40px; }
.direct-chat-reply-name { color: #fff; font-size: 15px; margin: 0 0 0 10px; opacity: 0.9; }
.direct-chat-img-reply-small { border: 1px solid #fff; border-radius: 50%; float: left; height: 20px; margin: 0 8px; width: 20px; background: #cccccc; }
.popup-messages .direct-chat-msg { margin-bottom: 10px; position: relative; }
.popup-messages .doted-border::after { background: transparent none repeat scroll 0 0 !important; border-right: 2px dotted #fff !important; bottom: 0;
  content: ""; left: 17px; margin: 0; position: absolute; top: 0; width: 2px; display: inline; z-index: -2; }
.popup-messages .direct-chat-msg::after { background: #fff none repeat scroll 0 0; border-right: medium none; bottom: 0; content: ""; left: 17px;
  margin: 0; position: absolute; top: 0; width: 2px; display: inline; z-index: -2; }
.direct-chat-text::after, .direct-chat-text::before { border-color: transparent #dfece7 transparent transparent; }
.direct-chat-text::after, .direct-chat-text::before { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;
  -moz-border-top-colors: none; border-color: transparent #d2d6de transparent transparent; border-image: none; border-style: solid;
  border-width: medium; content: " "; height: 0; pointer-events: none; position: absolute; right: 100%; top: 15px; width: 0; }
.direct-chat-text::after { border-width: 5px; margin-top: -5px; }
.popup-messages .direct-chat-text { background: #dfece7 none repeat scroll 0 0; border: 1px solid #dfece7; border-radius: 2px; color: #1f2121; }
.direct-chat-text { background: #d2d6de none repeat scroll 0 0; border: 1px solid #d2d6de; border-radius: 5px; color: #444; margin: 5px 0 0 50px;
  padding: 5px 10px; position: relative; }
.user { color: white; }

/* ------------------------------------------------------------ SETTINGS --------------------------------------------------------------------- */

.settings { display: inline-block; width: 100%; position: relative; top: 200px; padding: 20px; }
#login, #mail, #pass, #desactive, #image, #nom, #prenom, #postal, #adress, #department, #region, #city, #country, #anniv { cursor: pointer; width: 97%; 
  margin-left: 3%; padding-bottom: 20px; padding-top: 20px; font-size: 18px; display: inline-block; text-decoration: none; color: rgba(37, 116, 106, 0.5); 
  font-size: 18px; border-bottom: 1px #bfbfbf solid; padding-left: 30px; }
#login:hover, #mail:hover, #pass:hover, #desactive:hover, #image:hover, 
    #nom:hover, #prenom:hover, #postal:hover, #adress:hover, #department:hover,
    #region:hover, #city:hover, #country:hover, #anniv:hover { background-color: rgba(32, 170, 197, 0.4); color: white; }
.input-group3 { display: inline-block; width: 100%; /*float: left;*/ }
.input-group3 > input { width: 30%; margin-left: 4%; float: left; }
.loginRegister, .mailRegister, .passRegister { position: relative; top: 7px; width: 10px; height: 34px; background-color: rgba(62, 198, 170, 0.5); 
  padding: 8px 12px; border-radius: 3px; }
.input-relative { display: inline-block; position: relative; left: 250px; bottom: 59px; }
#registerSubmit2 { padding: 6px 12px; background-color: #20AAC5; position: relative; top: -60px; }
#formDesactive span { display: inline-block; width: 80%; margin-left: 10%; margin-right: 10%; color: #ff3333; text-align: center; }
.form-group6 { display: inline-block; width: 60%; margin-left: 20%; margin-top: 15px; }
.param-profil { margin-top: 60px; }
.params { display: inline-block; width: 100%; }
.parametre { display: inline-block; width: 22%; padding: 6px 12px; background-color: rgb(53, 206, 147); margin-bottom: 30px; 
  text-align: center; color: white; }

/* ------------------------------------------------- IMPLEMENTATION CSS MESSAGERIE ---------------------------------------------------------- */
@keyframes surf { 0% { left: 100%; } 100% { left: 80.8%; } }
@keyframes bulle { 0% { left: 93%; } 100% { left: 75.6%; } }

.chat { cursor: pointer; position: fixed; left: 93%; top: 150px; display: inline-block; padding: 16px 28px; font-size: 26px; 
  background-color: rgba(53, 206, 147, 0.5); color: white; text-align: center; border-radius: 100%; }
.view-message { position: relative; left: 85.6%; top: 110px; width: 20%; height: 870px; border-left: 1px #20AAC5 solid; 
  border-bottom: 1px #20AAC5 solid; background-color: white; }
.user-chat { display: inline-block; width: 100%; float: right; height: 800px; }
.infos-chat { display: inline-block; width: 100%; height: 50px; background-color: #333333; border-bottom: 1px #737373 solid; }
.img-chat { max-width: 49px; max-height: 49px; float: left; }
.name-chat { display: inline-block; width: 65%; margin-left: 3.84%; padding: 13.5px; float: left; font-size: 16px; color: white; }
.envelope { background-color: #41C3B2; padding: 17.5px; left: 5px; top: -0.5px; text-align: center; color: white; }
.dialogue { position: fixed; width: 22%; position: relative; left: 58%; top: 490px; }
.popup-box { position: fixed; }

/* ----------------------------------------------------------- PAGE PROFIL ------------------------------------------------------------------ */

.me-profil { width: 100%; height: 950px; margin-top: 150px; }
.perso { display: inline-block; width: 100%; height: 350px; }
.profil-img-perso { z-index: 1; display: inline-block; position: relative; width: 90px; height: 90px; left: 40%; }
.img-perso { display: inline-block; max-height: 170px; max-height: 170px; border: 2px #99E6C9 solid;  }
.infos-perso { display: inline-block; width: 100%; height: 256px; border: 2px #99E6C9 solid; }
.dashboard { display: inline-block; width: 100%; height: 122px; }
.dashboard span { display: inline-block; width: 40%; margin-left: 30%; text-align: center; margin-top: 65px; font-size: 26px; color: #20AAC5; }
#mess { display: inline-block; width: 10%; margin-right: 20%; margin-top: 40px; }
#foll { display: inline-block; width: 10%; margin-left: 20%; margin-top: 40px; }
.profil-infos-tweet { display: inline-block; width: 100%; height: auto;  margin-top: 25px; }
.hr { position: relative; margin-right: 16%; margin-top: 45px; }

/* ------------------------------------------------------------------------------------------------------------------------------------------ */