 --------------------------------------------------------------------  PARALLAX  -------------------------------------------------------------------------------- */

#slide1 { background-image: url('../../images/bg.jpg'); background-position: fixed; background-size: cover; height: 980px; }
#slide2 { background-image: url() cover no-repeat fixed;  }
#slide3 { background-image: url() cover no-repeat fixed;  }
.slide_inside { margin: 0 auto; width: 980px; }
#logo { max-width: 250px; max-height: 250px; margin-top: 100px; margin-left: 8%; }
.titre { position: relative; bottom: 130px; left: 400px; font-size: 72px; color: #2AAAE0; }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#formRegister
{
width: 301px;
margin: auto;
	
}

/*Register CSS*/
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
#registerInfo
{
    color: red;
    background: black;
    width: 200px;
    height: 200px;
}

/* ---------------------------------------------------------------------- ACCUEIL ---------------------------------------------------------------------------------- */

.accueil { width: 100%; height: 600px; }
.container1 { width: 90%; }
.container1 { margin-left: auto; margin-right: auto; padding-left: 0; padding-right: 0; }
.left { position: fixed; display: inline-block; float: left; width: 30%; height: 660px; margin-top: 81px; left: 30px; border-right: 1px #cccccc solid; }
.right { display: inline-block; float: right; width: 70%; height: 1600px; margin-top: 81px;}


.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.twitter-widget { color: #4c4c4c; height: 249px;  width: 97.4%; 
    box-shadow: 1px 1px 16px rgba(0, 0, 0, .58); border-radius: 2px; }
.header { background: url(http://cameronbaney.com/codepen/twitter-widget/bg-header.jpg) no-repeat; color: #fdfdfd; 
    font: 12px/17px 'HelveticaNeue-UltraLight', Helvetica, Arial, sans-serif; padding: 18px 28px 20px; border-radius: 2px 2px 0 0; }
.avatar { border: 4px solid #29c6f5; border-top-width: 3px; float: left; margin-right: 16px; position: relative; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, .6), 0 -1px 0 #9ce5fa; border-radius: 2px; max-width: 78px; max-height: 78px; }
.avatar::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; box-shadow: 0 1px 3px rgba(0, 0, 0, .4) inset; 
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4) inset; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4) inset; }
.avatar img { display: block; box-shadow: 0 0 2px rgba(0, 0, 0, .5) inset }
.header h2,
.header p { float: left; width: 288px; }
.header h2 { font-size: 26px; line-height: 32px; margin: 10px 0 8px }
.stats { background: rgb(243, 243, 243); background: -moz-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 243, 243, 1)), color-stop(100%, rgba(236, 236, 237, 1))); 
    background: -webkit-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(236, 236, 237, 1) 100%);
    border-top: 1px solid #fff; border-bottom: 1px solid #d4d4d4; }
.stat { color: #4c4c4c; float: left; font-size: 14px; line-height: 17px; padding: 15px 0 14px; text-align: center; text-decoration: none; 
    text-shadow: 0 1px 0 #fff; width: 148px; }
.stat:first-child { margin-left: 1px }
.stat:hover { color: #747474 }
.stat strong { display: block; font-size: 25px; line-height: 25px }
.menu { background: rgb(236, 236, 236);
    background: -moz-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(236, 236, 236, 1)), color-stop(86%, rgba(233, 233, 233, 1)), color-stop(94%, rgba(232, 232, 232, 1)), color-stop(100%, rgba(228, 228, 228, 1)));
    background: -webkit-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    background: -o-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    background: -ms-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 236, 236, 1) 0%, rgba(233, 233, 233, 1) 86%, rgba(232, 232, 232, 1) 94%, rgba(228, 228, 228, 1) 100%);
    border-top: 1px solid #fff; border-radius: 0 0 2px 2px; padding: 11px 0; text-align: center }
.menu li { display: inline-block; margin: 0 34px }
.menu a { background: url(http://cameronbaney.com/codepen/twitter-widget/icons.png) no-repeat; display: block; overflow: hidden; text-indent: -9999px }
.menu .ico-compose { background-position: -1px -2px; width: 25px; height: 26px; }
.menu .ico-mentions { background-position: -31px -1px; width: 27px; height: 28px; }
.menu .ico-profile { background-position: -65px -1px; width: 24px; height: 27px; }
.menu .ico-settings { background-position: -97px -2px; width: 26px; height: 27px; }
.menu a:hover { opacity: .75 }
.tweet { display: inline-block; width: 75%; height: auto; margin-left: 18%; border-bottom: 1px #b3b3b3 solid; }
.avatar-tweet { float: left; max-width: 90px; max-height: 90px; margin-top: 10px; margin-left: 9px; }
.contenu {  width: 85%; height: 450px; float: right; }
.contenu h4 { display: inline-block; width: 25%; margin-left: 2%; float: left; }
.contenu p { display: inline-block; float: right; margin-top: 10px; margin-right: 3%; }
.contenu h5 { display: inline-block; width: 98%; margin-left: 2%; margin-top: 0px; margin-bottom: 0px; }
.content { display: inline-block; width: 96%; margin-left: 2%; }
.compte-admin { display: inline-block; background-color: #88C9F9; padding: 0px 3px 0px 3px; color: white; border-radius: 100%; margin-top: 10px; }
.contenu-img { display: inline-block; max-width: 590px; max-height: 590px; margin-left: 2%; margin-right: 2%; margin-top: 20px; padding: 4px; 
    border: 1px #cccccc solid; }
.heart { display: inline-block; color: #a6a6a6; font-size: 22px; margin-top: 20px; margin-left: 33%; margin-right: 8%; }
.retweet { display: inline-block; color: #a6a6a6; font-size: 22px; margin-top: 20px; margin-left: 5%; margin-right: 8%; }
.share-alt { display: inline-block; color: #a6a6a6; font-size: 22px; margin-top: 20px; margin-left: 5%; margin-right: 8%; }
.heart:hover { color: #E81C4F; }
.retweet:hover { color: #19CF86; }
.share-alt:hover { color: #1DA1F2; }
.actualite { display: inline-block; margin-top: 50px; width: 100%;}
.twitter-widget1 { color: #4c4c4c; height: 360px;  width: 97.4%; 
    box-shadow: 1px 1px 16px rgba(0, 0, 0, .58); border-radius: 2px; }
.actu { display: inline-block; width: 100%; padding-left: 5%; }
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
